//
   Created by hjb2722404 on 2015/11/4.
extends layout

block content
    h1 显示本地数据到视图层
    h3 first name
    p=user.firstname
    h3 surname
    p= user.surname
    h3 address
    p= user.address
    h3 qq
    p= user.qq